.home-page .bannerr {
    background: #169ddb;
    box-shadow: inset 0 8px 8px -8px rgba(0, 0, 0, 0.3), inset 0 -8px 8px -8px rgba(0, 0, 0, 0.3);
    text-align: center;
    padding: 50px 0;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: relative;
    z-index: 1;
    margin-bottom: 30px;
    border-radius: 10px;
    background-image: url('https://scontent.ftun8-1.fna.fbcdn.net/v/t39.30808-6/282055236_5287370221323126_37423347047396927_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=6ee11a&_nc_ohc=iQXFh9vI66YQ7kNvgEIF3Sb&_nc_zt=23&_nc_ht=scontent.ftun8-1.fna&_nc_gid=A6rj2rJ7n0eE_-OZUIEvPmx&oh=00_AYCsFojnPK7FsP2bA5B2eHl1r1nz_F5FEQNngFYvCo-opw&oe=6775DFE3');
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    background-size: cover;
    background-position: center;
    }
    

